

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0-1/css/all.css');
html,body, #root, .container-true, .fullHeight {
    height:100%!important;
    overflow:hidden;
    background:white;
    font-family: 'Inter', sans-serif!important;

}

.fullHeight {
    margin:0!important;
    width:100%
}

img {
    margin:0 8px;
}
/* Styled scrollbars for Firefox and Webkit */
* {
    scrollbar-width: thin;
    scrollbar-color: slategrey lightgrey;
  }

*::-webkit-scrollbar {
    width: 14px;               /* width of the entire scrollbar */
  }
  
  *::-webkit-scrollbar-track {
    background: lightgrey!important ;
    border-radius:30px ;      /* color of the tracking area */
    margin:3px 0;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color:slategray;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 2px solid lightgrey;  /* creates padding around scroll thumb */
  }

.sidenav {
    border-right: solid 1px lightgrey;
    display:flex;
    flex-direction: column;
    max-width: 20%!important;
    padding:0;
    flex-grow:1;
    max-height: 100vh;
}

.usersInRoom {
    border-left: solid 1px lightgrey;
    max-width: 20%;
    display:flex;
    padding:1rem;
    flex-direction: column;
    flex-grow: 1;
    overflow: hidden;
}

.chatMainContainer {
    min-width:65%;
    max-width: 84%;
    margin:0;
    flex: 1 0;
    display:flex;
    flex-direction: column;
    max-height: 100%;
    padding:0;
}


.chatInput {
    margin-top:auto;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    padding:0.3rem;
    padding-bottom:0.3rem;
    height:7.7%;
    /*margin left and right set to 0 to over write row class -15px left and right margins*/
    margin-left:0!important;
    margin-right:0!important;
}

.chatInput input {
    height:100%;
}

.input-group-append {
    width:10%;
}

.input-group-append button {
    width: 100%;
    font-weight: bold;
    text-transform: uppercase;

}

.chatDisplay {
    flex-direction: column!important;
    flex-wrap:nowrap;
    overflow-y:auto;
    height: 85%;
    /*margin left and right set to 0 to over write row class -15px left and right margins*/
    margin-left:0!important;
    margin-right:0!important;
    background-image:url('/assets/images/tile_background.png');
}

.chatUserMsg {
    text-align:right;
    width:max-content;
    background:#00cbff;
    color:white;
    padding:1rem;
    border: 2px solid #00cbff;
    border-radius:10px;
    margin-bottom: 1rem;
    flex-grow: 0;
    flex-basis:auto!important;
}

.chatNotUserMsg {
    text-align:left;
    width:max-content;
    background:#f5f5f5;
    padding:1rem;
    border: 2px solid #f5f5f5;
    border-radius:10px;
    margin-bottom: 1rem;
    flex-grow: 0;
    flex-basis:auto!important;
}

.navCustom {
    border-bottom: solid 1px grey;
    padding: 0 0.8rem!important;
}

.unread {
    background-color: rgb(225, 243, 255)!important;
}

.channelName {
    box-shadow: 0 4px 5px -2px rgb(0 0 0 / 10%);
    padding: 0.8rem;
    font-size:1.8rem;
    display:flex;
    height:5.5rem;
}

.channelDescButton {
    font-size:1.2rem;
    background-color: white!important;
    border:none;
    color:#6c757d!important;
}

.popover {
    max-width: 25%!important;
}

.online {
    height: 5px;
    width: 5px;
    border: solid 5px greenyellow;
    border-radius: 50%;
    display:inline-block;
    margin:0 5px;
}

.offline {
    height: 5px;
    width: 5px;
    border: solid 5px lightgrey;
    border-radius: 50%;
    display:inline-block;
    margin:0 5px;
}

.sidepaneParentChannel {
    max-height:41.5vh;
    display: flex;
    flex-direction: column;
}

.show {
    display:flex;
    flex-direction: column;
}

.sidepaneParentDm {
    min-height:41.5vh;
    max-height:91.5vh;
    display: flex;
    flex-direction: column;
}

.sidepaneParentDm h3, .sidepaneParentChannel h3 {
    font-weight: 700!important;
    display:flex;
    margin:0;
}

/* .sidepaneParentDm i{
    margin-left: auto;
} */

.sidepaneParentButton {
    padding:0.75rem!important;
    margin-bottom:1rem;
    text-align: left;
    box-shadow: 0 5px 5px 2px rgb(0 0 0 / 6%);
    cursor:pointer;
}

.createChannel {
 background:white;
 border:white;
 color:var(--main-heading-color);
 font-size:1.5rem;
 padding: 5px 7px;
 margin-right:1rem;
 display:flex;
}


.createChannel:hover, .createChannel:active, .createChannel:focus  {
    background:lightgrey;
    border:lightgrey;
    color:var(--main-heading-color);
    box-shadow: none;
   }

.arrow {
    padding: 5px 7px;
    font-size: 1.7rem;
}
   
.Logo {
    margin:0;
    padding:0.5rem;
    margin-top:auto;
    border-top:1px solid lightgrey;
}

.Logo h2 {
    color:var(--dark)!important;
    margin:0;
}

.sidepaneDm {
    overflow-y: auto;
    display:block;
}

.sidepaneChannel {
    overflow-y: auto;
    display:block;
    padding-left:1rem;
    max-height: 32vh;
}

.systemMsg {
    text-align: center;
    background: var(--light);
    width: 50%;
    margin: 1rem auto;
    padding: 0.7rem 1rem;
    border-radius: 10px;
    box-shadow: 0 0 5px 4px rgba(0,0,0, 0.1);
}

.dmuser, .channelElement {
    padding:0.3rem 0;
    border-radius : 0.8rem;
    margin-right:0.4rem;
}

.dmuser:hover, .channelElement:hover {
    background:whitesmoke;

}
.dmuser, .channelElement button {
    padding:0.4rem 0;
}

.channelElement {
    padding:0.5rem;
}

.channelElement button {
    text-align: left;
}

.online-text {
color:green;
font-size:1rem;
}

.offline-text {
color:grey;
font-size:1rem;

}

.authcard {
    width:20%;
    margin: 0 auto;
    background:white;
    padding:2rem;  
    border: 5px white solid;
    border-radius: 2%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.authcard h1 {
    font-weight: 900;
    text-align: center;
    padding:0.5rem;
    font-size:2.3rem!important;
    color:#343a40!important;
}

.authcard p {
    font-size:1.1rem;
    text-align: center;
    color:#383838;
}

.authlabel {
    font-size:1.1rem;
    font-weight: 500;
}

.authcontainer {
    background:linear-gradient(105deg, #F05340 51%, #61DBFB 51.07%);
    height:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.authcontainer h1, h2 {
    color:white;
    font-weight: 800;
}

.authcontainer h1 {
    font-size:3rem;
}


.cardcontainer {
    width: 100%;
    margin: 6rem 0;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imagePreview {
    position:relative;
    flex: 1 1;
    padding:10rem;
}

.croppedImage {
    max-height: 300px;
    max-width: 300px;
    height: auto;
    width: auto;
    margin:0.8rem auto;
}

.cropperContainer {
    margin: 2rem 0;
}

.dmAvatar {
    border: 1px solid lightgrey;
    border-radius: 50%;
    height:3.8rem;
    margin:0;
    margin-right:8px
}

.msg-container {
    display:flex;
    width:fit-content;
    margin-top:1rem;
}

.user-msg-container {
    display:flex;
    width:fit-content;
    margin-left:auto;
    margin-top:1rem;
}

.msg-container img, .user-msg-container img {
    /* border:1px solid white; */
    border-radius: 50%;
    height:3.2rem;
    box-shadow: 0px 0px 2px 2px rgb(0 0 0 / 15%);
}


.notificationsBell {
    width: 1.4rem!important;
    height: auto;
    position:relative;
    display:inline-block;
    margin-left:1rem;
}

.notificationsBell button, .userOptions i {
    border:unset;
    background:whitesmoke!important;
    border:1px solid lightgray!important;
    border-radius: 50%;
    padding:0.5rem 1rem;
    box-shadow:unset!important;
    font-size:1.5rem;
    color:var(--dark);
}

.userOptions i {
    padding:0.89rem!important
}

.userOptions a {
    padding:0;
    margin-left:0.5rem;
}

.notificationsBell button:hover {
    border:unset;
    background:whitesmoke;
    border:0.5rem solid whitesmoke;
    border-radius: 50%;
    color:unset;
}

.notifContainer, .userContainer {
    margin:0;
}

.notificationsBell span {
    display:flex;
    line-height: unset;
    border-radius: 50%;;
    font-size:0.8rem;
    font-weight: 400;
    position: absolute;
    top: -5px;
    right: -35px;
}

.userControlPanel {
    margin:1rem 0;
    margin-bottom: 0;
    padding:0 1rem;
    border-bottom:1px solid lightgrey;
    width:100%;
    max-height: 5rem;
}

.userDetails {
    margin:0 0.5rem 0.65rem 0.5rem;
}

.userDetails span {
    font-weight: 600;
    font-size:1.2rem;
}


